<div md-dialog-content>
    <div class="dialConfirmaSolicitud" style="min-width: 300px;">
        <div class='entRecibe'>Confirmar Cancelación</div>
        <br>
        <div class="detCanc">¿Estás seguro de cancelar la solcitud <span class="idSol">{{solicitud.nofolioSolicitud}}</span> ?</div>
        <br>
    </div>
</div>
<div md-dialog-actions align="end">
    <button md-raised-button (click)="dialogRef.close(false)">Cancelar</button>&nbsp;&nbsp;&nbsp;
    <button md-raised-button class="btnUni" (click)="dialogRef.close(true)">Confirmar</button>
</div>