<div md-dialog-content>
    <div class="entRecibe">Selecciona una o más cargas para generar el reporte</div>
    <br/>
    <table class="tablaEnt">
        <tr>
            <th>Carga</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Negocios</th>
            <th>Solicitudes</th>
            <th>Seleccionar</th>
        </tr>
        <tr *ngFor="let carga of cargas | paginate: { itemsPerPage: 10, currentPage: pag}">
            <td>{{carga.titulo}}</td>
            <td>{{carga.fechaInicio}}</td>
            <td>{{carga.fechaFin}}</td>
            <td>
                <div *ngFor="let neg of carga.negocios">
                    {{neg.negocio}}
                </div>
            </td>
            <td>{{carga.totalSolicitudes}}</td>
            <td>
                <md-checkbox [ngClass]="'chkPol'" color="primary" [(ngModel)]="carga.sel"></md-checkbox>
            </td>
        </tr>
        <tr *ngIf="!cargas || cargas.length == 0">
            <td colspan="6"> No existen cargas vigentes, para crear una click en + </td>
        </tr>
    </table>
    <br/>
    <pagination-controls class="pagTb" (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
    <div class="errHuella">
        {{msgError}}
    </div>
    <br/>
</div>
<div md-dialog-actions align="end">
    <button md-raised-button [ngClass]="'btnAccNeg'" md-dialog-close>Cancelar</button>&nbsp;&nbsp;
    <button md-raised-button [ngClass]="'btnUni'" (click)="seleccionarCargasConsulta()">Aceptar</button>
</div>