<div md-dialog-content>
    <div class="entRecibe"> Seguimiento solicitud : {{solicitud}}</div>
    <br/>
    <table class="tablaEnt det tbCarg">
        <tr>
            <th>Solicitud</th>
            <th>Detalle</th>
            <th>País</th>
            <th>Canal</th>
            <th>Sucursal</th>
            <th>Pedido</th>
            <th>Datos Proceso</th>
            <th>Comentarios</th>
            <th>Estatus Anterior</th>
            <th>Estatus Nuevo</th>
            <th>Fecha</th>
        </tr>
        <tr *ngFor="let bit of bitacora">
            <td>{{bit.folioSolicitud}}</td>
            <td>{{bit.detalle}}</td>
            <td>{{bit.pais}}</td>
            <td>{{bit.canal}}</td>
            <td>{{bit.tienda}}</td>
            <td>{{bit.pedido}}</td>
            <td>{{bit.datosProc}}</td>
            <td>{{bit.comentarios}}</td>
            <td>{{bit.estatusAnt}}</td>
            <td>{{bit.estatusNvo}}</td>
            <td>{{bit.fecha}}</td>
        </tr>
    </table>
    <br/>
</div>
<div md-dialog-actions align="end">
    <md-checkbox [ngClass]="'chkPol'" color="primary" [(ngModel)]="consDatosProc" (ngModelChange)="datosProc = ( consDatosProc ? 1 : 0 ) ">
        <span>Datos Proceso</span>
    </md-checkbox>&nbsp;&nbsp;
    <button md-raised-button (click)="consultaBitacora(solicitud)">Consultar de nuevo</button>&nbsp;&nbsp;&nbsp;
    <button md-raised-button [ngClass]="'btnUni'" md-dialog-close>Aceptar</button>
</div>