<div md-dialog-content>
    <div class="entRecibe">Detalle de Solicitud</div>
    <table>
        <tr>
            <td>
                <b>Nombre</b>
            </td>
            <td>{{solicitud.nombre}}</td>
        </tr>
        <tr>
            <td>
                <b>Número Empleado</b>
            </td>
            <td>{{solicitud.empleado}}</td>
        </tr>
        <tr>
            <td>
                <b>Folio Solicitud</b>
            </td>
            <td>{{solicitud.solicitud}}</td>
        </tr>
        <tr>
            <td>
                <b>Tienda </b>
            </td>
            <td>{{solicitud.tienda}}</td>
        </tr>
        <tr>
            <td>
                <b>Nombre Tienda</b>
            </td>
            <td>{{solicitud.nombreTienda}}</td>
        </tr>
        <tr>
            <td>
                <b>Fecha Solicitud</b>
            </td>
            <td>{{solicitud.fecha}}</td>
        </tr>

    </table>
    <br/>
    <table class="tablaEnt det tbCarg">
        <tr>
            <th>Pedido</th>
            <th>SKU</th>
            <th>Prenda</th>
            <th>Talla</th>
            <th>Cantidad</th>
            <th>Estatus</th>
            <th>Remisión</th>
            <th>Fecha Actualización</th>
        </tr>
        <tr *ngFor="let pedido of solicitud.pedidos">
            <td>{{pedido.pedido}}</td>
            <td>{{pedido.sku}}</td>
            <td>{{pedido.descripcion}}</td>
            <td>{{pedido.descTalla}}</td>
            <td>{{pedido.cantidad}}</td>
            <td>{{pedido.estatusPedido}}</td>
            <td>{{pedido.remision}}</td>
            <td>{{pedido.fechaAct}}</td>
        </tr>
    </table>
    <br/>
</div>
<div md-dialog-actions align="end">
        <button md-raised-button (click)="verBitacora(solicitud.solicitud)">Seguimiento...</button>&nbsp;&nbsp;&nbsp;
    <button md-raised-button [ngClass]="'btnUni'" md-dialog-close>Aceptar</button>
</div>