.dialogContratoSolicitaUniforme{
    max-width: 700px;
    font-family: sans-serif;
}

.centrar-solicita-uniforme{
    width: 50%;
    margin: 0 auto;
}

a.hombre_view,a.tabla_reporte_view {
    text-decoration: underline;
    color: #b4a373;
}

.wrapper{
    width:90%;
    max-width:1000px;     
    margin:0 auto;  
}

.th-solicita_uniforme{
    margin-top: 30px;
}

/*--------ESTILOS GENERALES-----------*/
.btn {
    text-decoration: none;
    font-size:10px;
    line-height:12px;
    font-weight: lighter;
    background-color:#b4a372;
    color: #FFFFFF;
    padding:6px;
    border: 1px solid #ffffff;
    width: 120px;
    margin: 2px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

a.btn2{
    text-decoration: none;
    font-size: 9px;
    line-height: 26px;
    background-color: transparent;
    border: 2px solid #b4a373;
    color: #b4a373;
    width: 120px;
    height: 26px;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    min-width: 170px;
    display: block;
}

.pill1{
    width:100%;
    border:none;
    border-bottom:1px solid #8e8e8e;
    background-color:#f5f5f5;
    color:#8e8e8e;
    font-size:10px;
    outline:none;    
}

.lpill{
    width:100%;
    border:none;
    border-bottom:1px solid #8e8e8e;
}

.pill2{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #c5c5c5;
    color: #878787;
    padding: 0px 5px;
    padding-right: 30px;
    font-size: 1.1em;
    width:122px;
    *width:126px; 
    height: 25px;
    margin: 0px;
    outline:none; 
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.calico {
    background-image: url("../../img/tienda/calendario.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px;
    font-size:11px;
}

.pasuser {
    background-image: url("../../img/tienda/pass.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px;
    font-size: 11px;
}

.nameuser {
    background-image: url("../../img/tienda/user.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px;
    font-size: 11px;
}

.btn-cerrar1{
    width:38px;
    height:38px;
    right: 30px;
    margin-top: -20px;
    position:absolute;
    float: right;
    border-radius:50%; 
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:center center;  
    background-size:100%;
    behavior:url(iepngfix.htc);
}

a.bcategorias{
    display:block;
    float: left;
    width:18.6%;
    min-width: 132px;
    max-width:260px;
    margin:6px;
    height: 200px;
    padding:15px; 
    margin-top:36px;  
    background-color: #ffffff;    
    color: #424242;
    text-align: center;
    position:relative;
    -moz-box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    -webkit-box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02); 
    behavior: url(PIE.htc);   
}

.bcategorias img{
    width:36px;
    height:36px;
    display:block;
    margin:0 auto;     
}

.tsegmento{
    font-size:9px;
    font-weight:bold;  
}

.separador{
    display:block; 
    width:100%;
    *height:1px; 
    border:solid 1px #f9ba48;
    border-style:dashed;
}

.txcontenido{
    font-size:9px; 
}

.border {
    text-align: center;
    line-height: 1.2em;
    color: #b4a373;
    border-bottom: 1px solid #b4a373;
    padding: 3px 3px 7px 3px;
}

.borderTop{
    border-top: 1px solid #000000; 
}

.borderblack{
    text-align: center;
    line-height: 1.2em;
    color: #b4a373;
    border-bottom: 1px solid #000000;
    padding: 3px 3px 7px 3px;
    color:#000000;     
}

.tblack {
    color: #4a4a4a;
}

.tgray{
    color:#cfcfcf; 
}

.tuinfo {
    font-size:12px;    
}

/*Tabla*/

table.general {
    font-family: Arial, serif;
    width: 100%;
}

.w100{
    width:100%; 
}

.w50{
    width:50%; 
}

.w70{
    width:70%; 
}
.w40{
    width:87%;
}

.fleft{
    float:left; 
}

.fright{
    float:right; 
}

.tleft{
    text-align:left; 
}

.tright{
    text-align:right!important; 
}

.tcenter{
    text-align:center; 
}

.nota1{
    font-size:9px;
    font-weight:600;  
}

.nota2{
    font-size:9px;
    font-weight:600; 
}

.btninactivo {
    width: 50px;
    height: 50px;
    border: solid 2px #cfcfcf;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    behavior: url(PIE.htc);
}

.btninactivo img {
    margin-top: 8px;
    border: none!important;
}

.tfonsize{
    font-size:10px; 
}

.gris{color:#ababab;}

.auto{
    margin: 0 auto;
}

.padingg30 {
    padding:20px;
}

/*-----------------------------------*/

/*
-------------HEADER------------
*/

.cheader{
    width:100%;
    min-width:800px;
    background-image:url("../../img/tienda/header.png");
    background-color: #f3e746;
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center center; 
   /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='img/header.png',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='img/header.png',
    sizingMethod='scale')";*/ 
    -moz-box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    -webkit-box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    behavior: url(PIE.htc);
}

img.logo{
    width:72px;
    height:26px;
    position:absolute;
    margin-top:-14px;  
    behavior:url(iepngfix.htc);
}

div.user {
    font-family: Arial, serif;
    margin-top: 5px;
    float: right;  
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    position: relative;
    width:150px; 
    border-radius: 8px;
    behavior: url(PIE.htc);
}

.dropdown {
    position: relative;
    *position:absolute; 
    display: inline-block;
    z-index: 100;
    cursor:pointer;
    behavior: url(PIE.htc); 
}


div.user img {
    display:inline-block; 
}

div.user div.foto img.user {   
    width: 20px;
    height: 20px;
    background: #FFFFFF no-repeat center center;
    border: solid 1px #b9b7ac;
    border-radius: 50%;
    display:inline-block; 
    behavior: url(PIE.htc);
}

div.user span {    
    font-size:9px;
    display:inline-block;  
    vertical-align:middle; 
    margin-top: -10px;
}

.dropbtn {
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #111111;
    padding: 1px 1px;
    margin-top:-10px;  
}

.wspmenu{
    margin-top:-3px; 
}

 .masmenu {
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    right: 0px;
    background-color: #404040;
    *width:160px; 
    min-width: 160px;
    overflow: auto;
    position:absolute;
}

.smenu{
    margin-top:2px;
    *margin-top:26px;
    display:none;
    right: 0px;
    background-color: #404040;
    width:118px;
    overflow: hidden;
    position: absolute;
}

.smenu a{
    height: 30px;
    margin-left: 0px!important;
    border: none;
    line-height: 30px!important;
    border-bottom: 1px solid whitesmoke;
}

.smenu a:hover {
    border: none;
}

#myDropdown a,#supmDropdown a{
    display:block;
    width:100%;
    font-size:9px;
    text-align:center;
    color:  #ffffff;
}

#myDropdown a:hover,#supmDropdown a:hover{
    color:#936e00;
    background-color:#f5f5f5;
    font-weight:400;
    border-bottom: none;
}

.show{display:block;}

.ttitulos{
    font-size: 1.8em;
    display: block; 
}

.btitulos{
    font-size:15px; 
}

/*
**************
MENU PRINCIPAL
**************
*/

.mendropdown a{    
    margin-left:100px;
    color:#936e00;
    line-height:4px;
}

.mendropdown a:hover{
    color:#424242;
    border-bottom:2px solid #424242;
}

.mactive{
    color:#424242!important;
    border-bottom:2px solid #424242;
}


/*
*************************
SECCION SOLICITA UNIFORME
*************************
*/


.ntatop {
    margin-top:-3px;
    display: block;
}

.status {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: solid 2px #f6dc0b;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    behavior: url(PIE.htc);
}

.status img{
    margin-top:8px;
    border:none!important;
}

.tbstus span{
    font-size:8px; 
}

table.tbtitulos {
    margin-top:67px;
    *margin-top: 66px;
}

span.subtitulos {
    text-align: center;
    display: block;
    font-size: 10px;
    font-weight: bold;
}

span.fsolicitud{
    display: block;
    font-size: 9px;
    text-align: center;
    margin-top: -16px;
    color: #cfcfcf;  
}

.cstatus {
    margin-left: 30px;
}

table.tfooter {
    width: 100%;
    background-color:#4a4a4a;
    text-align: center;
    color: #ffffff;
    font-size:11px;
}

table.tfooter tr td{
    height:30px; 
}
/*tabla*/

div.borderbig {
    max-width:800px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #545554; 
    -moz-box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    -webkit-box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    box-shadow: 0 0px 6px rgba(208, 208, 208, 0.02);
    position:relative;
    behavior: url(PIE.htc);
}

div.border90{
    width:95%;
}

div.border100 {
    width:100%;    
}

div.borderbig3 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #545554;
    margin-top:-29px; 
    position:relative;
    behavior: url(PIE.htc);
}

div.borderbig4 {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #545554;
    position:relative;
    behavior: url(PIE.htc);
}

div.padding15 {
    padding: 15px 25px;
}

div.overflow {
    overflow: auto;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0px;

}

table.blue {
    width: 100%;
    text-align:center; 
}

table.blue.tbinterna {
    width: 70%;
    margin: 0 auto;
}

table.blue tr td {
    padding: 3px 0px 4px;
}

table.blue thead tr th {
    font-size:9px;
}

select#selec-dos,select#selec-tres {
    width:54px;
    *width:60px;
    height: 20px; 
    font-size: 8px;
    margin-top:12px;
    display:none; 
}

img.camisa {
    display:block;
    margin: 0 auto;
    margin-top:10px; 
}

.bcerrar{
    width:21px;
    height:21px;
    margin: 10px 0px 0px 15px;
    background-image:url("../../img/tienda/cerrar-circle.png");
    cursor:pointer;  
    behavior:url(iepngfix.htc);
}

table.tfooter.w100.tcenter {
    height:33px; 
    background-color:#545554; 
    color: #fff;
    font-size:12px; 
}

a.btn2.bcenter {
    margin: 0 auto;
    margin-top:30px;
}

span.tblack.tuinfo {
    margin-bottom:-2px;
    display: block;
}

/*
*********************
      SLIDER
*********************
*/
.cmslider img {

   width:312px;
   height:425px; 
   *position: relative;
   *margin-top:-30px;   

}

/*
*******************************
    ESTATUS DE MI UNIFORME
*******************************
*/


/*seccion coulta*/
#oculto {
    width: 100%;
    font-size:10px;
    position: relative; 
}

img.shadow {
    width: 100%;
    height: 30px;
    display: block;
    margin-top: -6px;
    *margin-top: -20px;
}

.etbooble {
    width: 46px;
    height: 46px;
    border: solid 3px #f6dc0b;
    border-radius: 50%;
    position: relative;
    cursor:pointer;
    margin-bottom:10px;
    margin-top:6px;
    behavior: url(PIE.htc);
}

table.tracking.tcenter {
    right: 0;
    margin-left: 80px;
    position:relative;
    background-color: #f5f5f5;
}

.tracking  td {
    /*position: absolute;*/
    padding: 2px 0px;
    vertical-align: middle;
    color:#000;
    font-size:6px;

}

.etbooble img {
    *margin-top: 16px;
    margin-top: 10px\9;
    width: 26px;
    height:26px; 
}

a.btn.bheader {
    margin-top:44px;
    margin-left: 16px;
}

span.top {
    margin-top: 16px!important;
    display: block;
    margin-bottom: -8px;
    font-weight: bold;
}

/*contenido*/
.tsolicitud{
    display:block; 
    font-size:8px;
    font-weight: bold;
    margin-bottom:6px;
}

.txt10{
    font-size:8px; 
}

table.dcompletos tr td {
    padding: 0px 10px 3px;
}

/*
*****************
      LOGIN
*****************
*/
table.clogin{
    width:100%;
    height:100%;  
}

td.clfondo{
    width:60%;
}

.clformulario{
    width:40%; 
    background-color:#ffffff;
}

body.login{
    background-color:#f9db13; 
    background-image:url("../../img/tienda/background.jpg");
    background-size:100%;
    *background-position:left 90px;
    background-position:left 90px\0;
    background-repeat: no-repeat;
    overflow:hidden;
}

span.tsesion{
    font-size:14px;
    text-align:center; 
}

span.tusuario{
    display:block; 
    font-size:12px;
    margin-top:20px;
    margin-left:7px;   
}

input.pill2.textlogin {
    width:84%;
}

.padingg20 table {
    border: solid 1px red;
    height: 100%;
    width: 100%;
    border:solid 1px red; 
}

span.tsesion {
    font-size: 14px;
    text-align: center;
    
}

a.btn.tcenter {
    margin: 57px 98px 46px;
}

input.textlogin {
    width: 81%;
    border: none;
    padding-left: 7px;
    color: #8c8c8c;
}

a.link {
    display: block;
    width:100%; 
    text-align: center;
    font-size: 10px;
    text-decoration: underline;
}

span.luniformes {
    font-size: 10px;
    text-transform: lowercase;
}

span.tbienvenido {
    font-size: 11px;
}

span.tusuario.usertop {
    margin-top: 7px;
    position: absolute;
}

h3.tsesion.tcenter {
    margin-top:90px;
    font-size:16px; 
}

/*
***************************
    MASCARA CONDICIONES
***************************
*/

.condiciones {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display:block;
    position: absolute;
    z-index: 100;
}

.amodal {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top:12%;
    position: relative;
    z-index:200;
}

span.mimensaje {
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    overflow: hidden;
    color: black;
    font-size:12px;
    text-align: justify;
    padding: 25px;
    position: relative;
}

.cmensaje {
    overflow: auto;
    height: 50%;
    width: 100%;
}

.checkbox {
    width: 100%;
    height: 50px;
    margin-top: 6%;
}

a#btn1 {
    width: 100px;
    height:14px;
    background-color:#7d7d;
    color: #000000;
    cursor: not-allowed;
    display: block;
    margin: 0 auto;
}

a#btn2 {
    width: 100px;
    height:14px;
    display: block;
    margin: 0 auto;
}


/*Modal pdf*/

.cuadrobig.cpdfrecuentes {
    background-color: #fedc00!important;
    padding:0px!important;
}

.cpdf {
    width: 100%;
    height: 340px;
    margin: 0 auto;
}

.cpdf h3 {
    font-size: 10px;
    text-align:center;
    font-weight: bold;
    margin-top:4px; 

}

.cpdf span {
    width:70%;
    display:inline-block;
    font-size:9px;
    margin-top:-6px;
}

.cpdf img {
    width:66px;
    height:25px;
    margin-left:6px;
    margin-bottom: 21px;
    margin-top: 5px;
}

.red {
    color: red;
}

/*
***************************
    MODAL CORREO 
***************************
*/
.cuadrobig.mcorreo {
    background-color: #ffffff!important;
    width:400px!important; 
}

button::-moz-focus-inner { /*Quita las lineas puntedas*/
  border: 0;
}

.detlab {
    font-weight: bold;
    font-size:14px;
    width:160px;
}

.detval {
    font-weight: normal;
    width:200px;
    font-size:12px;
}

.modavatar img {
    width:50px;
    height:50px;
    display:block;
    float: right;  
}

.pill{
    border:none;
    border-bottom:1px solid red;
    border-bottom: 1px solid #c5c5c5;
    color: #878787;
    font-size:9px;
    width:100%;     
}

.tfusuario{
    font-size:12px;

}

a.btn.full.simplemodal-close {
    margin-top:20px;
    margin-bottom: 10px;
}

b.ncliente {
    display: block;
    margin-top: 10px;
}

b.tcliente {
    margin-top: -48px;
    display: block;
}

/*******KRISTIAN ******/

.b{
    font-weight:700;
}

.i{
    font-style: italic;
}

.infogris{
    color:#b1afaf;
    font-weight:700;
}

.alIzq{
    text-align:left;
}

.superior{
    padding:10px 0;
}

.superior  .logo{
    display:inline-block;
    width:50%;
}

.superior .usrInf{
    display:inline-block;
    width:49%;
    text-align:right;
}

.superior .usrInf img{
    width:30px;
    cursor: pointer;
}

.msjBienv{
    padding:10px 3%; 
}

.menuColap{
    padding:10px;
    padding-left: 3%;
}

.menuColap .opcM{
    display:inline-block;
    text-align: center;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: #936e00;
    font-size: 1.3em;
    line-height: 1.3em;
    height: 2em;
    font-weight: 200;
    white-space: nowrap;
    text-decoration: none;
    font-family: Arial, serif;
    text-transform: uppercase;
    margin-right:10px;
    transition: all 0.5s ease;
}

.menuColap .opcM:hover{
    color:#000;
    border-bottom: 2px solid #000; 
}

.menuColap .opcM.sel{
    color:#000;
    border-bottom: 2px solid #000;
    font-weight: 700;
}    
.contCats{
    width:95%;
    margin:auto;
    text-align:center;
    margin-top:5%;
}

.contCats .cats{
    display:inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, serif;
    width:170px;
    min-height: 120px;
    padding:20px;
    color:#424242;
    box-shadow:0 0px 25px rgba(17, 17, 17, 0.1);
    background-color:#fff;
    margin:1%;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 
}

.contCats .cats:hover{
    -moz-box-shadow: 0 10px 25px rgba(17, 17, 17, 0.2);
    -webkit-box-shadow: 0 10px 25px rgba(17, 17, 17, 0.2);
    box-shadow: 0 10px 25px rgba(17, 17, 17, 0.2); 
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;  
}

.contCats .cats .titCat{
    font-size:1em;
    text-transform:uppercase;
    padding:5px 0;
}

.contCats .cats .catDesc{
    color:#878787;
}

.contCats .cats img{
    width:40px;
}

.tbSolicitudes{
    width:100%;
}

.tbSolicitudes .pad{
    padding:10px;
    text-align:center;
}

.tbSolicitudes .guiaTienda{
    display:inline-block;
    width:35%;
    text-align:center;  
}

.tbSolicitudes .guiaTienda .imgGuia{
    width:75%;
    margin:auto;
}

.tbSolicitudes .prendasSolicitud{
    display:inline-block;
    width:64%;
    text-align:center;
}

.tbSolicitudes .prendasSolicitud .selprend{
    font-size: 1.2em;
    font-weight: 700;
}

.tbSolicitudes .prendasSolicitud .ultSol{
    font-size: 0.9em;
    font-weight: 700;
    color:#ccc;
}

.tbSolicitudes .prendasSolicitud .contSolTallas{
    width:100%;
    background-color:#fff;
    text-align:center;
    padding-top:8px;	
}

.tbSolicitudes .prendasSolicitud  .contSolTallas .tbPrendasTallas{
    width:95%;
    margin:auto;
}

.tbSolicitudes .prendasSolicitud  .contSolTallas .tbPrendasTallas tr.thPrendas td{
    border-bottom: 1px solid #b4a373;
    color: #b4a373;
    font-weight: 700;
    line-height: 1.2em;
    padding: 3px 3px 7px;
    text-align: center;
}

.tbSolicitudes .prendasSolicitud  .contSolTallas .tbPrendasTallas tr td{
    padding: 8px;
}

.tbSolicitudes .prendasSolicitud .contSolTallas .totalSol{
    background-color:#545554;
    color:#fff;
    font-size:14px;
    padding: 10px;
}
.tbSolicitudes .tiendaSeleccionada .tienda{
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 10px;
}

.tbSolicitudes .tiendaSeleccionada .nomTiendaRec{
    width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    border-bottom:1px solid #ccc;
    color:#afafaf;
}

.tbSolicitudes .tiendaSeleccionada{
    max-width:350px;
    text-align:left;
    margin:auto;
}

.tbSolicitudes .tiendaSeleccionada .btnBusqueda{
    text-decoration: none;
    font-size: 9px;
    background-color: #b4a373;
    border: 2px solid #b4a373;
    color: #fff;
    padding:7px 30px;
    margin-left:10px;
    
}

.tbSolicitudes .contGuiasMin{
    padding:10px;
    text-align:center;
    max-width: 350px;
    margin: auto;
}

.tbSolicitudes .contGuiasMin .guiaSld{
    text-align:center;
    width:100%;
    padding: 10px;
}

.tbSolicitudes .contGuiasMin .guiaSld img{
    box-shadow: 0 0 15px rgba(17, 17, 17, 0.1);
    width:98%;
    margin:auto;
}

.tbSolicitudes .contGuiasMin .btnSlide{
    background-color:transparent;
    color:#b4a373;
    border:1px solid #b4a373;	
}

.dialRespuestaSolicitud{
    min-width:600px;
    font-size:15px;
    color:#7a7d7a;
}

.dialRespuestaSolicitud .fel{
    font-size:22px;
    color:#b4a372;
    padding:10px;
    text-align:center;
}

.dialRespuestaSolicitud .emp{
    font-weight:700;
    padding:5px;
}

.dialRespuestaSolicitud .detSol{
    padding-left:35px;
    padding-bottom: 15px;
}

.dialRespuestaSolicitud .detSol .idSol{
    color: #f3c914;
    text-decoration: underline;
}

.dialRespuestaSolicitud .emp .imgSolOk{
    width:20px;
}

.dialRespuestaSolicitud .rec{
    padding:5px;
}

.dialRespuestaSolicitud .rec .rojo{
    color :#d81212;
}

.dialConfirmaSolicitud  .fel{
    font-size:22px;
    color:#b4a372;
    padding:10px;
    text-align:center;
}

.dialConfirmaSolicitud .emp{
    font-weight:700;
    padding:5px;
}

.dialConfirmaSolicitud .prenda{
    padding:5px;
    color:#9e9e9e;
}

.dialConfirmaSolicitud .prenda .img{
    width:25px;
}

.dialNuevoIngreso,.dialTiendasCercanas{
    min-width:400px;
    text-align: center;
}

.dialTiendasCercanas .tituloM,
.dialNuevoIngreso .tituloM{
    font-size:1.5em;
    color:#b4a372;
    padding:10px;
    text-align:center;
}

.dialTiendasCercanas  .selTiendas,
.dialNuevoIngreso  .selTiendas{
    padding:15px 0;
}

.dialTiendasCercanas  .selTiendas md-select,
.dialNuevoIngreso  .selTiendas md-select{
    min-width:300px;
}

.espBackGrnd{
    background-color:transparent!important;
    box-shadow:none!important;
}

.espBackGrnd h1{
    color:#fff!important;
}

/*entrega*/
.contBusqEmp{
    padding:20px;
}

.contBusqEmp input{
    border:none!important;
}

.contTablaEnt{
    background-color: #ffffff;
    border: 1px solid #edeff0;
    box-shadow: 0 5px 15px rgba(17, 17, 17, 0.2);
    color: #424242;
    margin: 10px auto;
    width: 95%;
    padding:15px;
}

.tablaEnt{
    font-family: Arial,serif;
    width: 100%;
    text-align: center;
    font-size:13px;
}

.tablaEnt.det{
    box-shadow: 0 5px 15px rgba(17, 17, 17, 0.2);
}

.tablaEnt th{
    border-bottom: 1px solid #b4a373;
    color: #b4a373;
    font-weight: 100;
    line-height: 1.2em;
    padding: 3px 3px 7px;
}

.tablaEnt td{
    color: #8c8c8c;
    padding:5px;
}

.tablaEnt .btnDet{
    font-weight:700;
    min-width:36px!important;
}

.entRecibe{
    width: 100%;
    padding: 5px;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    color: #000;
}

.contSol .selSol .mat-select-trigger{
    font-size:18px!important;
}

.leyendaConfirmacionEntrega{
    font-size: 14px;
    padding: 5px 0;
    color:#7b7777;
}
.usrEnt{
    font-weight: 700;
    text-shadow: #c5c5c5 1px 1px 2px;
}

.errHuella{
    text-align: center;
    width: 100%;
    font-weight: 700;
    color:#d4243c;
    text-shadow: #c5c5c5 1px 1px 2px;
    padding: 3px;
}
/*.btnAccNeg{
    color:#d81212!important;
}
.btnAccPos{
    color:#57a728!important;
}*/
.leidoPol{
    font-weight: 700;
    padding: 5px;
    font-size: 15px;
    color:#7b7777;
}
.chkPol{
    padding-top: 5px;
}
/******* FIN KRISTIAN ******/

/******DANIEL**********/

table.tseguimiento td:nth-child(2) {
    color: #8c8c8c;
    padding: 0px 7px;
}

table.tseguimiento {
    font-size: 0.9em;
    margin-bottom: 40px;
}

h3.supseguimiento {
    padding: 20px 10px;
    font-weight: 600;
}

section.tracking table td span.bar {
    display: block;
    position: relative;
    width: 400%;
    margin-left: -116%;
    height: 3px;
    margin-top:26px;
    background-color: #f6dc0b;
    z-index: 1;
}

section.tracking table td img {
    position: relative;
    z-index: 5;
    width:62px;
    height:62px;
    display: block;
    margin: 0 auto;
    border-radius: 50%; 
}

.w50{
    width: 49%; 
    background-color: transparent;
}

img.check-ok {
    width: 19px!important;
    height: 19px!important;
    margin-top: 6px!important; 
}

table.tcenter.smiento {
    margin-top: 62px;
}

.accordion2 {
    position: relative;
    margin-top: -20px;
    margin-bottom: 0px;
}

table.tcenter.smiento span {
    font-size:1.9em;
}

.fright {
    float: right;
}

.w50 {
    width: 49%;
}

.flef {
    float: left;
}

.retra { width: 120px; height: 120px; float: left; text-align: center;}


.tipo-letra-totales {
    font-size: 24px;
    text-align: center;
    line-height: 1.2em;
    color: #b4a373;
    border-top: 1px solid #000000;
    padding: 3px 3px 7px 3px;
    color: #000000;
}

.tabla-semana-pagar{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #545554;
    position: relative;
}

.dialog-descuento { 
    width: 85%;
    max-width: 980px;
    min-width: 900px;
    margin: 0 auto;
    position: relative;
    background-color:#FFFFFF; 
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; 
}

.img-descuento-prenda img {
    width: 33px;
    height: 33px;
    display: block;
    float: right;
}

table.blue thead tr th {
    font-size:12px;
}

table.items th {
    text-align: center;
    line-height: 1.2em;
    color: #b4a373;
    border-bottom: 1px solid #b4a373;
    padding: 3px 3px 7px 3px;
    font-weight: 100;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    font-size: 14px;
}

table.items td {
    text-align: center;
    color: #8c8c8c;
    padding-bottom: 3px 0px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    font-size: 12px;
}

h3 {
    font-family: Arial, serif;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 100;
    color: #aea9a9;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}


.mcontent b{
    font-size: 18px !important;
    min-width: 200px !important;
}

.div_select .mat-select-trigger {
    font-size: 18px !important;
    min-width: 200px !important;
}

table.tseguimiento {
    font-size: 12px;
    margin-bottom: 40px;
}

h1 {
    font-size: 16px !important;
}

h3.supseguimiento{
    font-size: 18px !important;
    color: #747475 !important;
}

table.ccenter td {
    text-align: center;
    white-space: nowrap;
    padding: 5px 5px;
}

.mat-button{
    line-height: 20px !important;
}

.mat-dialog-container-error { 
    padding: 0px !important;
    min-width: 700px !important;
    max-width: 800px !important;
    overflow: initial !important;
}

.dialog-title-error .mat-dialog-title {    
    min-height: 60px !important;
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif !important;  
    color: white !important;
    display: table-cell;
    padding: 10px;    
}

.dialog-title-error .mat-dialog-title img{  
    width: 30px !important;
}

.texto-error p{
    padding: 10px !important;
    color: #8c8c8c !important;
    font-size: 18px !important;
    text-align: center;
}

.dialog-error-completo{
    color: #8c8c8c !important;
    font-size: 14px !important;
    text-align: center;    
    margin: 15px;
}

.dialog-error-acciones{
    margin: 10px !important;
}

.image {    
    width: 180px;
    height: 180px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    margin: 50px;
}

/*Rotacion del sol elektra*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.dialog-sincrono-transparente{
    background: transparent !important;   
    box-shadow: none !important;

}

.blanco{
    color: #fff;
    font-size: 30px !important;
    text-align: center;
}

/****** FIN DANIEL ****************/
/*administrador*/
 .headAdm{
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 5px;
}
.repCarga .headAdm{
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}
.repCarga .headAdm .btnUni{
    position: absolute;
    right: 30px;
}

.repCarga .tbCarg{
    max-width: 90%;
    margin: auto;
}
.admReporte{
    position: relative;
}
.admReporte .filtros{
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 0px 25px rgba(17, 17, 17, 0.3) inset;
}

.admReporte .filtros{
    padding-right: 12px;
}

.admReporte .filtros .seccFil{
    display: inline-block;
    width: 30%;
}

.admReporte .filtros .seccFil.contCargRep .chkPol{
    padding-top: 18px; 
}

.admReporte .filtros .seccFil .cargasSel{
    padding-left: 15px;
    font-size: 11px;
    color:darkgreen;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
.admReporte .filtros .seccFil.contEst .estChk{
    display: inline-block;
    width: 45%;
    font-size: 12px;
    padding-left: 3px;
}
.admReporte .filtros .seccFil.contTdaB .inpBTda,
.admReporte .filtros .seccFil.contEmpB .inpBEmp{
    width: 100%;
}
.seccFil .titSecc{
    padding-left: 0px;
    font-size: 1.1em;
}
.btnTglFil{
    background-color: #4a4a4a;
    text-align: center;
    position: absolute;
    display: block;
    top: -25px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    background-image: url(../../img/admin/busq.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out; 
}

.btnTglFil.activo{
    background-image: url(../../img/admin/cerrar.png);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg) ;
    -webkit-transform: rotate(180deg) ;
    -moz-transform: rotate(180deg) ;
    -o-transform: rotate(180deg) ; 
}   
.btnUni{
    background-color: #b4a373!important;
    color:#fff!important;
}
.icoEditCarga{
    width: 20px;
    filter: drop-shadow(2px 2px 1px #524114);
    cursor: pointer;
}
.titSecc{
    font-weight: 700;
    font-size: 1.3em;
    padding: 5px 5px;
    color:#b4a373;
}
.contEditCarga{
    width: 500px;
}
.contEditCarga .inpContTitulo{
    width: 100%;
}
.contEditCarga .inpContFechas{
    width: 100%;
}

.contEditCarga .inpContFechas md-input-container{
    width: 47%;
}

.contEditCarga .chkPol{
    padding-left: 15px;
}
.contNegocios{
    width: 100%;
}
.contNegocios div.negocio{
    display: inline-block;
    width: 49%;
}
.msjSolSemestral{
    text-align: center;
}

.msjSolSemestral span{
    color:red;
    font-weight: 700;
}
.msjRepo{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: #b4a373;
    line-height: 40px;
    padding: 30px;
} 

.msjRepo img{
    width: 40px;
    filter: drop-shadow(2px 2px 1px #524114);
}
.msjRep{
    width: 100%;
    text-align: center;
    color:red;
    text-shadow: #ccc 1px 1px 2px;
    font-weight: 700;
}
.pagTb{
    text-align: center;
}
.itmPag{
    padding: 10px;
    padding-bottom: 15px;
    color:#b4a372;

}

.trReporte:hover{
    cursor: pointer;
    background-color:rgb(248, 248, 248);
}
.verdeCarga{
    color:#35c335!important;
    font-weight: 700;
}

.msjDesc{
    font-size: 1.3em;
    color:#b4a372;
    text-align: center;
}
.errFrmVal{
    color:red;
    font-size: 12px;
    padding: 5px;
}
.cerrSes{
    cursor: pointer;
    color:#424242!important;
    font-weight: 700;
}
.contSelSol .sel{
    min-width: 200px!important;
}
.contConsulta{
    padding: 10px;
}
.sinSolicitudes{
    text-align: center;
    padding: 15px;
    font-size: 1.4em;
}
.sinSolicitudes .headS{
    color:#dec100;
    font-weight: 700;
    padding-bottom: 15px;
}
.icoEnt{
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px #524114);
    width: 38px;
}