<div md-dialog-content>	
    <div class="dialNuevoIngreso">
        <div class="entRecibe">Selecciona el empleado de nuevo ingreso</div>
            <div class="selTiendas" *ngIf="empleados && empleados.length > 0">
                <md-select placeholder="Empleado" [(ngModel)]="empleadoSeleccionado">
                    <md-option *ngFor="let emp of empleados" [value]="emp">{{ emp.empleado }}- {{emp.nombre }}</md-option>
                </md-select>
            </div>
            <div class="selTiendas b" *ngIf="!empleados || empleados.length == 0">
                No se encontraron empleados de nuevo ingreso, o ya se registró su solicitud
            </div>
	</div>
</div>
<div md-dialog-actions align="end">
    <button *ngIf="empleados && empleados.length > 0" md-raised-button class="btnUni" (click)="empleadoSeleccionado && dialogRef.close(empleadoSeleccionado)" >Aceptar</button>
    <button *ngIf="!empleados || empleados.length == 0" md-raised-button class="btnUni" (click)="dialogRef.close(null)" >Aceptar</button>
</div>