<div class="wrapperSol">
    <div class="tbSolicitudes">
        <div class="guiaTienda">
            <div class='pad'>
                <div class='tiendaSeleccionada'>
                    <div class="tienda">TIENDA RECEPTORA</div>
                    <div class="nomTiendaRec">{{tiendaSolicitud.sucursal}}-{{tiendaSolicitud.nombreTienda}}</div>
                    <span>
                        <button *ngIf="tiendaSolicitud.tiendaReceptora == 0" md-raised-button (click)='buscaTiendaSolicitud()' class="btnUni"> Buscar </button>
                    </span>
                </div>
                <!-- <img src="assets/img/tienda/mujer-slider.png" class="imgGuia"> -->
                <div class="contGuiasMin">
                    <ngx-siema [options]="options">
                        <ngx-siema-slide>
                            <div class="guiaSld">
                                <img (click)="muestraGuiaTallas('M')" src="assets/img/tienda/mujer-slider.png" alt="Smiley face">
                            </div>
                        </ngx-siema-slide>
                        <ngx-siema-slide>
                            <div class="guiaSld">
                                <img (click)="muestraGuiaTallas('H')" src="assets/img/tienda/caballero-slider.png" alt="Smiley face">
                            </div>
                        </ngx-siema-slide>
                    </ngx-siema>
                    <button type="button" class="btnSlide" (click)="prev()">
                        < </button>
                            <button type="button" class="btnSlide" (click)="next()"> > </button>
                </div>
            </div>
        </div>
        <div class="prendasSolicitud">
            <div class='pad'>
                <div class="selprend">SELECCIONA LAS PRENDAS A SOLICITAR</div>
                <div class="contSolTallas">
                    <table class='tbPrendasTallas'>
                        <tr class="thPrendas">
                            <td>Empleado</td>
                            <td>Prenda</td>
                            <td>Información</td>
                            <td>Cantidad</td>
                            <td>Talla</td>
                        </tr>
                        <tbody *ngIf="( !solicitudEmplados || solicitudEmplados.length == 0 ) && tipoSolicitud == 1">
                            <tr>
                                <td colspan="5">
                                    <div class="msjSolSemestral">
                                        <span>¡Atención!</span>
                                        <br/> La solicitud semestral de tu plantilla ya fue registrada, para consultar el estado,
                                        ve a la sección
                                        <b>ESTATUS DE MI UNIFORME</b>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngFor="let kitEmpleado of solicitudEmplados">
                            <tr *ngFor='let prenda of kitEmpleado.kit.prendas; let indP = index'>
                                <td>
                                    <div [hidden]='indP > 0' class='b'>{{kitEmpleado.nombre}}</div>
                                </td>
                                <td>
                                    <div>
                                        <img src="assets/img/tienda/{{prenda.imagen}}" />
                                    </div>
                                </td>
                                <td class="alIzq">
                                    <div>
                                        <div>Descripción:
                                            <span class='infogris'>{{prenda.descPrenda}}</span>
                                        </div>
                                        <div>Precio:
                                            <span class='infogris'>{{prenda.precio | currency:'USD':true}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <md-select placeholder="Cantidad" [(ngModel)]="prenda.cantidad" (ngModelChange)="actualizaTotal()">
                                        <md-option *ngFor="let cant of cantidadPorPrenda(prenda.minimo,prenda.maximo)" [value]="cant">{{ cant }}</md-option>
                                    </md-select>
                                </td>
                                <td>
                                    <md-select placeholder="Talla" [(ngModel)]="prenda.tallaSeleccionada">
                                        <md-option *ngFor="let talla of prenda.tallas" [value]="talla">{{ talla.talla }}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="totalSol">TOTAL {{totalsolicitud | currency:'USD':true}}</div>
                </div>
                <br/>
                <button md-raised-button (click)='guardaSolicitud()' class="btnUni"> Enviar solicitud </button>
            </div>
        </div>
    </div>
</div>